*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.Hero{
	height: 100vh;
	width: 100%;
	background-image: url(../Images/Me.png);
	background-size: cover;
	background-position: center;
}

.nav-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav img {
	/* display: flex;
	align-items: top;
	
	padding-top: 10px;
	padding-left: 1%; */
	
}

.logo{
	/* color: white; */
	/* font-size: 35px; */
	/* letter-spacing: 1px; */
	cursor: pointer;
	width: 70px;
    height: 70px;
	margin: 10px 10px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
	margin: 10px 20px;
}
nav ul li a {
	margin-left: 0%;
	color: rgba(255, 255, 255, 0.712);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #00e8f9ef;
	transition: .4s;
}

.bio{
    margin-left: 8% ;
    margin-top: 15%;
}
.bio h1{
    font-size: 35px;
    color: rgba(127, 255, 212, 0.993);
    margin-bottom: 20px;
}

span{
	color: #00f9f9ec;
}

.bio p{
    color: antiquewhite;
    line-height: 22px;
}

.bio a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: antiquewhite;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}